.switchDeviceFirmwareFormItemSwitchFirmwareSelect{
  :global{
    .ant-form-item-control-input-content{
      display: flex;
      .ant-form-item{
        width: 95%;
      }
    }
  }
  margin-bottom: 0;
}